# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/

# Streamlitgsk_YYcE5yxFGSvSjYJWCsWAWGdyb3FY9SFspNzwRCS94ym1AwUtRaQR
.streamlit/
.streamlit/secrets.toml

# FAISS index and embeddings
index/
*.faiss
*.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment / secrets
.env
.env.local
.env.*
*.env
